package {{PACKAGE_NAME}}

import android.os.Bundle
import androidx.activity.ComponentActivity
import androidx.activity.compose.setContent
import androidx.activity.enableEdgeToEdge
import {{PACKAGE_NAME}}.navigation.AppNavGraph
import {{PACKAGE_NAME}}.ui.theme.{{APP_NAME}}Theme

class MainActivity : ComponentActivity() {
    override fun onCreate(savedInstanceState: Bundle?) {
        super.onCreate(savedInstanceState)
        enableEdgeToEdge()
        setContent {
            {{APP_NAME}}Theme {
                AppNavGraph()
            }
        }
    }
}
