package {{PACKAGE_NAME}}.domain.usecase

import {{PACKAGE_NAME}}.domain.model.Item
import {{PACKAGE_NAME}}.domain.repository.ItemRepository
import kotlinx.coroutines.flow.Flow

class GetItemsUseCase(
    private val repository: ItemRepository
) {
    operator fun invoke(): Flow<List<Item>> = repository.getItems()
}
