package {{PACKAGE_NAME}}.di

import {{PACKAGE_NAME}}.data.local.LocalDataSource
import {{PACKAGE_NAME}}.data.repository.GreetingRepositoryImpl
import {{PACKAGE_NAME}}.domain.repository.GreetingRepository
import {{PACKAGE_NAME}}.domain.usecase.GetGreetingUseCase
import {{PACKAGE_NAME}}.presentation.home.HomeViewModel
import org.koin.core.module.dsl.viewModel
import org.koin.dsl.module

val appModule = module {
    single { LocalDataSource() }
    single<GreetingRepository> { GreetingRepositoryImpl(get()) }
    single { GetGreetingUseCase(get()) }
    viewModel { HomeViewModel(get()) }
}
