package {{PACKAGE_NAME}}.data.repository

{{INJECT_IMPORT}}
import kotlinx.coroutines.flow.Flow
import kotlinx.coroutines.flow.flowOf

class GreetingRepository {{HILT_INJECT}}constructor() {

    fun getGreeting(): Flow<String> = flowOf("Hello World")
}
