package {{PACKAGE_NAME}}.data.repository

import kotlinx.coroutines.flow.Flow
import kotlinx.coroutines.flow.flowOf

class GreetingRepository {

    fun getGreeting(): Flow<String> = flowOf("Hello World")
}
