package {{PACKAGE_NAME}}.di

import {{PACKAGE_NAME}}.data.repository.GreetingRepository
import dagger.Module
import dagger.Provides
import dagger.hilt.InstallIn
import dagger.hilt.components.SingletonComponent
import javax.inject.Singleton

@Module
@InstallIn(SingletonComponent::class)
object AppModule {

    @Provides
    @Singleton
    fun provideGreetingRepository(): GreetingRepository = GreetingRepository()
}
