package {{PACKAGE_NAME}}.domain.usecase

import {{PACKAGE_NAME}}.domain.repository.GreetingRepository
import kotlinx.coroutines.flow.Flow

class GetGreetingUseCase(
    private val repository: GreetingRepository
) {
    operator fun invoke(): Flow<String> = repository.getGreeting()
}
