package {{PACKAGE_NAME}}.di

import {{PACKAGE_NAME}}.data.local.LocalDataSource
import {{PACKAGE_NAME}}.domain.repository.GreetingRepository
import {{PACKAGE_NAME}}.domain.usecase.GetGreetingUseCase
import dagger.Module
import dagger.Provides
import dagger.hilt.InstallIn
import dagger.hilt.components.SingletonComponent
import javax.inject.Singleton

@Module
@InstallIn(SingletonComponent::class)
object AppModule {

    @Provides
    @Singleton
    fun provideLocalDataSource(): LocalDataSource = LocalDataSource()

    @Provides
    @Singleton
    fun provideGetGreetingUseCase(repository: GreetingRepository): GetGreetingUseCase =
        GetGreetingUseCase(repository)
}
