package {{PACKAGE_NAME}}.di

import {{PACKAGE_NAME}}.data.local.LocalDataSource
import {{PACKAGE_NAME}}.data.repository.GreetingRepositoryImpl
import {{PACKAGE_NAME}}.domain.repository.GreetingRepository
import dagger.Module
import dagger.Provides
import dagger.hilt.InstallIn
import dagger.hilt.components.SingletonComponent
import javax.inject.Singleton

@Module
@InstallIn(SingletonComponent::class)
object RepositoryModule {

    @Provides
    @Singleton
    fun provideGreetingRepository(localDataSource: LocalDataSource): GreetingRepository =
        GreetingRepositoryImpl(localDataSource)
}
