package {{PACKAGE_NAME}}.presentation.{{FEATURE_NAME}}

import {{PACKAGE_NAME}}.domain.model.Item

data class {{FEATURE_NAME_PASCAL}}State(
    val items: List<Item> = emptyList(),
    val isLoading: Boolean = false,
    val error: String? = null
)
