package {{PACKAGE_NAME}}.presentation.home

{{HILT_IMPORT}}
import androidx.lifecycle.ViewModel
import androidx.lifecycle.viewModelScope
import {{PACKAGE_NAME}}.domain.usecase.GetGreetingUseCase
import kotlinx.coroutines.flow.SharingStarted
import kotlinx.coroutines.flow.StateFlow
import kotlinx.coroutines.flow.catch
import kotlinx.coroutines.flow.map
import kotlinx.coroutines.flow.stateIn

sealed interface HomeUiState {
    data object Loading : HomeUiState
    data class Success(val greeting: String) : HomeUiState
    data class Error(val throwable: Throwable) : HomeUiState
}

{{HILT_ANNOTATION}}
class HomeViewModel {{HILT_INJECT}}constructor(
    getGreetingUseCase: GetGreetingUseCase
) : ViewModel() {

    val uiState: StateFlow<HomeUiState> = getGreetingUseCase()
        .map<String, HomeUiState> { HomeUiState.Success(it) }
        .catch { emit(HomeUiState.Error(it)) }
        .stateIn(viewModelScope, SharingStarted.WhileSubscribed(5000), HomeUiState.Loading)
}
