package {{PACKAGE_NAME}}.data.repository

{{INJECT_IMPORT}}
import {{PACKAGE_NAME}}.data.local.LocalDataSource
import {{PACKAGE_NAME}}.domain.repository.GreetingRepository
import kotlinx.coroutines.flow.Flow

class GreetingRepositoryImpl {{HILT_INJECT}}constructor(
    private val localDataSource: LocalDataSource
) : GreetingRepository {

    override fun getGreeting(): Flow<String> = localDataSource.getGreeting()
}
